.logo{
    position: relative;
    height: 25.21px;
    width: 28.57px;
    left:15px;
    top:10px;
}

.logo2{
    position: relative;
    height:25.21px ;
    width: 28.57px;
    left:50px;
    top:16px;
}